<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar bg-body-tertiary, cor">
        <div class="container-fluid">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <div class="linksNav">
                <a class="nav-link" href="{{ url_for('tela_inicial') }}">Início</a>
                <a class="nav-link" href="#">Solicitações</a>
                <a class="nav-link" href="{{ url_for('login') }}">Fazer Logout</a>
            </div>
            <a class="navbar-brand ms-auto" href="{{ url_for('tela_inicial') }}">
                <img src="../static/img/logo.png" alt="Logo" width="100" height="30" class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>
    <div class="divGrandona">      
        <div class="card fonte fonteCinza divSolicitacao">
                        <h2 class="mb-3">Solicitações</h2>
                        <form id="solicitacao-form" method="POST" action="{{ url_for('solicitacao') }}">
                <div class="mb-3 text-start">
                    <label for="usuario" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite seu usuário">
                </div>
                <div class="mb-3 text-start">
                    <label for="tipo" class="form-label">Tipo:</label>
                    <select  class="form-select" name="tipo" id="tipo">
                        <option value="arCondicionado">Ar Condicionado</option>
                        <option value="bebedouro">Bebedouro</option>
                    </select>
                </div>

                <div class="mb-3 text-start">
                    <label for="defeito" class="form-label">Defeito:</label>
                    <input type="text" class="form-control" id="defeito" name="defeito" placeholder="Descreva o defeito observado">
                </div>

                <div class="mb-3 text-start">
                    <label for="lugar" class="form-label">Local:</label>
                    <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Digite o local">
                </div>

                <div class="mb-3 text-start">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descrição">
                </div>

                <button type="submit" class="btn btn-primary botaoAcesso">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>