@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.cor {
    background-color:#0D436B;
    border-color: #0D436B;
}

.cor:hover {
    background-color:#1f5c8d;
    border-color: #1f5c8d;
}

.divGrandona {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background-color: #ffffff;
}

.card {
    background-color: #e2e4e7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
}

.botaoAcesso {
    width: 340px;
}

.fonte{
    font-family: "Nunito Sans", sans-serif;
}

.fontCinza{
    color: #484949;
}
